target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
# 2024-3-16  18:08-忽略项目根目录下的idea配置文件目录
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 2024-4-10  22:21-忽略Docker挂载的卷中的容器产生的临时文件
docker/volumes/mysql/var
docker/volumes/minio/data
docker/volumes/nacos/standalone-logs
docker/volumes/redis/data
docker/volumes/mongodb/data
docker/volumes/mongodb/logs

# 2024-5-17  22:30-忽略各个微服务模块产生的日志文件
logs
docker/volumes/rocketmq/logs

# 2024-10-9  1:01-忽略构建Docker镜像时无用的上下文文件
docker/jars

# 2024-11-8  22:42-忽略用户上传的文件
docker/files

# 2024-12-2  17:03-忽略Gradle相关的构建/无用配置文件
ptp-web-test/.gradle